*.pyc
_version.py
__pycache__
build/
dist/
sdist/
*.egg-info/
vivado_prj
.vscode
my-hls-test
*.tar.gz
docs/_build
docs/autodoc/*
hls4mlprj_*
*~
*.ipynb_checkpoints/
*.bak
*_prj
*_result
*_result_old
tb_data
dense_plot
logs
tmp
tmp2
pics
*.pdf
notes.txt
*.csv
*.bib
.codex